<html>
<head>
<title>About.</title>
</head>
<body>
<h1>DC's Legends of Tomorrow</h1>
<p>Rip Hunter, a time traveller, comes to know of Vandal Savage's plan to cause an apocalypse to destroy Earth and time.<br/>
 However, he assembles superheroes to thwart Savage's evil plan and save the world.</p>
<h5>Characters</h5>
<ul>
<li>Rip HUnter</li>
<li>Kendra Saunders</li>
<li>Carter</li>
<li>Sara Lance</li>
<li>Mick Rory</li>
<li>Ray Palmer</li>
<li>Leonard Snart</li>
<li>Martin Stein</li>
<li>Jefferson Jackson</li>
</ul>
<p><img src="https://vignette.wikia.nocookie.net/arrow/images/9/99/DC%27s_Legends_of_Tomorrow_season_1_poster_-_Their_Time_is_Now.png" alt="A Great HTML Resource"  width="300" height="500"></p>
<p>This is the <a href="https://en.wikipedia.org/wiki/Legends_of_Tomorrow">Link to Wikipedia site</a>.
Break up your page with a horizontal rule or two. </p>
<hr>
<!-- And add a copyright notice.-->
<p>&#169; Wiley Publishing, 2011</p>

<%= link_to 'Back to Home', root_path %>
</body>
</html>
